{% extends "front/layout/app.html.twig" %}
{% block content %}  
    <div class="container">
    	<div class="row">
    		<h3>Data</h3>
            {{ dump(data) }}
    		<div class="col-sm-4">
    		<form action="">
    			<input type="hidden" name="_method" value="PUT"/>
                {% for value in data|json_decode %}
                    <div class="form-group">
                        <label for="{{ value|e }}">{{ value|e }}</label>
                        <input type="text" name="{{ value|e }}" value="{{ value|e }}" id="{{ value|e }}" />
                    </div>
                {% endfor %}
    		</form>
    		</div>
    	</div>
    </div>
{% endblock %} 