{% extends "front/layout/app.html.twig" %}
{% block content %}  
    <div class="container">
    	<div class="row">
    		<h3>Data</h3>
    		<div class="col-sm-4">
    		<form action="">
                <input type="hidden" name="_method" value="PUT"/>
    			<input type="hidden" name="id" value="{{data.id}}" id="id" />
                    <div class="form-group">
                        <label for="{{ data.userId }}">userId</label>
                        <input type="text" name="{{ data.userId }}" value="{{ data.userId }}" id="userId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="{{ data.home }}">home</label>
                        <input type="text" name="{{ data.home }}" value="{{ data.home }}" id="home" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="{{ data.mobile }}">mobile</label>
                        <input type="text" name="{{ data.mobile }}" value="{{ data.mobile }}" id="mobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="{{ data.office }}">office</label>
                        <input type="text" name="{{ data.office }}" value="{{ data.office }}" id="office" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="alias" value="number" />
                        <input type="button" name="submit" id="updateRecord" value="submit" class="btn" />
                    </div>
    		</form>
    		</div>
    	</div>
    </div>
{% endblock %} 